body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(241, 247, 248);
    font-family: "Open Sans", sans-serif;
    color: rgb(73, 91, 144);
}

/* USER */
.user-container {
    /* size */
    width: 100%;
    padding: 30px 200px 30px 200px;
    /* flex */
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border */
    border-bottom: 3px dotted rgb(73, 91, 144);
    
}

.user-item {
    width: 200px;
    margin: 10px;
    text-align: center;
    display: none;
}

.user-item .username {
    font-size: 2em;
    margin-bottom: 5px;
    font-weight: 100;
}

.user-item .score {
    font-size: 1em;
}

/* CLICKBUTTON */

button.clickbtn {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    background-color: lightcoral;
}

.clickbtn.down {
    background-color: yellow;
}

.clickbtn.up {
    background-color: red;
}